doctype 5
html(ng-app="reAdoptAHydrant", lang="en")
    head
        meta charset="utf-8"
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        title re-Adopt-A-Hydrant
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

        // [if lt IE 9]>
            script(src="//html5shim.googlecode.com/svn/trunk/html5.js")

        link(rel="stylesheet", href="/stylesheets/style.css")
        link(href="http://raw.github.com.everydayimmirror.in/samcollins/css-social-buttons/master/css/zocial.css", rel="stylesheet")

        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=#{apiKey}&sensor=false")

        if isDev
            script(type='text/javascript', src='/closure/base.js')
            script(type='text/javascript', src='/javascripts/deps.js')
        else
            script(type='text/javascript', src='/javascripts/compiled.js')

        script(type='text/javascript')
            goog.require('reAdoptAHydrant.Application');
        script(type='text/javascript')
            var app = new reAdoptAHydrant.Application();
            app.start();        

    body
        .panel(ng-controller="panelCtrl").pull-left
            .logo
                img(src="images/logo.png", alt="logo re-Adopt-A-Hydrant")
            .descriptionContainer
                .description By adopting a hydrant, you'll become responsibile of it. You'll then need to give all your love by either shoveling after it snows or contact the authorities so they can come and take care of it.
            .login-form(ng-hide="user")
                a.zocial.facebook(href="/auth/facebook") Login with Facebook
                .splitter or
                a.zocial.twitter(href="/auth/twitter") Login with Twitter
            .userInfoContainer(ng-show="user") 
                .userInfo
                    .text Hi, 
                    h3 {{user.displayName}}!
                    .text You have adopted {{adoptionsCount}} fire hydrants, would you like to adopt more ?
            footer
                .footer-content
                    .by
                        p Developped by your friends @
                            a(href="http://openify.it") Openify.it
                    .socialLinks
                        a.facebook(href="https://www.facebook.com/OpenifyIt")
                        a.twitter(href="https://twitter.com/OpenifyIt")
                        a.github(href="https://github.com/OpenifyIt")
        .map-container(ng-controller="mapCtrl")
            map(id='map-canvas')
