doctype 5
html(ng-app="reAdoptAHydrant", lang="en")
    head
        meta charset="utf-8"
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        title re-Adopt-A-Hydrant
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

        // [if lt IE 9]>
            script(src="//html5shim.googlecode.com/svn/trunk/html5.js")

        link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css", rel="stylesheet")
        link(rel="stylesheet", href="/stylesheets/style.css")

        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js")
        script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js")
        script(src="https://maps.googleapis.com/maps/api/js?key=#{apiKey}&sensor=false")
        script(src="/javascripts/controllers/headerCtrl.js")
        script(src="/javascripts/app.js")

    body
        -if(accessToken)
            script
                window.accessToken = #{accessToken}
        header.appHeader(ng-controller="HeaderCtrl") 
            .logoContainer.pull-left 
                img(src="http://beerhold.it/225/50")
                button.btn WTF
                    i.icon-question-sign
            .span9.pull-right
                .span4
                    a.btn(href="/auth/facebook") Login with Facebook
                    a.btn(href="/auth/twitter") LOGIN WITH TWITTy
                .span4 USER INFORMATIONS
        map(id='map-canvas')

