lightGreen = #86bb5d
lightGrey = #777
orange = #FF7F00
body
    margin 0
.pull-left
    float left
.panel
    height 100%
    width 250px
    .logo
        text-align center
        margin 20px 0
        img
            width 90%
    .descriptionContainer
        width 100%
        background-color lightGreen
        padding 10px 0
        margin-bottom 20px
        .description
            font-size 14px
            letter-spacing 1px
            width 80%
            margin auto
            text-align justify
            color white
    .login-form
        text-align center
        .splitter
            margin 10px 0
        a
            width 80%
    .userInfoContainer
        width 100%
        .userInfo
            width 80%
            margin auto
            .text
                font-size 15px
                text-align justify
            h3
                margin-top 0
    footer
        position absolute
        width 250px
        bottom 0
        background-color lightGrey
        .footer-content
            margin auto
            width 95%
            a
                color lightGreen
                transition 0.3s all ease
                cursor pointer
                text-decoration none
            a:hover
                color orange
            .by
                margin 10px 0px
                color white
            .socialLinks
                margin 10px 0px
                .facebook
                    background-image url('../images/social/facebookLink.png')
                .twitter
                    background-image url('../images/social/twitterLink.png')
                .github
                    background-image url('../images/social/githubLink.png')
                a
                    background-position 0 0
                    height 64px
                    width 79px
                    background-repeat no-repeat
                    display inline-block
                    transition none
                a:hover
                    background-position 0 -64px  
.map-container
    height 100%
#map-canvas
    position absolute
    width 100%
    height 100%
    img
        max-width none
