lightGreen = #86bb5d
lightGrey = #777
orange = #FF7F00
darkblue = #24274c
border_style = solid 1px rgba(0,0,0,0.2)

body, html
    margin 0
    font-family arial
    height 100%
.language
    position absolute
    top 10px
    left 5%
    color lightGrey
    text-decoration none
.pull-left
    float left
.panel
    position relative
    height 100%
    width 20%
    border-right border_style
    .logo
        text-align center
        margin-top 1em
        img
            width 90%
    .descriptionContainer
        width 100%
        padding 10px 0
        margin-bottom 15px
        .description
            font-size 14px
            letter-spacing 1px
            width 90%
            margin auto
            text-align justify
            color lightGrey
    .login-form
        font-size 1em
        a
            width 100%
    .userInfoContainer
        width 100%
        .userInfo
            width 80%
            margin auto
            .text
                font-size 15px
                text-align justify
            h3
                margin-top 0
    footer
        position absolute
        bottom 0
        width 100%
        height 6em
        background-color darkblue
        color white
        letter-spacing 0.5px
        .footer-content
            margin auto
            width 95%
            text-align center
            position relative
            .by
                display inline-block
                position relative
                max-width 50%
                font-size 0.8em
                line-height 1em
                text-transform capitalize
                &:before, &:after
                    content: "";
                    position: absolute;
                    border-top: border_style = solid 1px rgba(255,255,255,0.5)
                    top: 0.5em;
                    width: 50%;
                &:before
                    right: 100%;
                    margin-right: 5px;
                &:after
                    left: 100%;
                    margin-left: 5px;
        a
            text-align center
            display block
            img
                max-height 3em
                    
                    
.map-container
    height 100%
    width 80%
    position absolute
    display inline-block
    #map-canvas
        position absolute
        width 100%
        height 100%